<h5 style="padding-left: 0px;"> <span class="badge badge-success">Learning Management System</span></h5>
<div class="card text-center" style="background-color:#E3F3F0;">
  <div class="card-body">
      <img alt='' class='card-img-profile' src='https://image.flaticon.com/icons/svg/149/149071.svg'>
      <!-- <img alt='' class='card-img-profile' src='/src/assets/110.png/'> -->

      <h6 class="card-title">
      <small class="card-text"></small><br>
      <a href="#" class="btn  btn-danger btn-sm"><i class="fa fa-sign-out" style="padding-right: 4px"></i>Log out</a>

    </h6>
    <!-- <p class="card-text">Receptionist</p> -->
    <!-- <a href="#" class="btn btn-secondary btn-sm">Log out</a> -->
  </div>
</div>
<p></p>
<div class="list-group">
  <a class="list-group-item list-group-item-info font-weight-bold" routerLink="./viewStudent" routerLinkActive="blue"><i class="fa fa-graduation-cap" style="padding-right: 22px;"></i>Student</a>
  <a class="list-group-item list-group-item-info font-weight-bold" routerLink="./viewStaff" routerLinkActive="blue"><i class="fa fa-id-card" style="padding-right: 22px;"></i>Staff</a>
  <!-- <a class="list-group-item list-group-item-info font-weight-bold" style="width: 220px;" routerLink="./addStudent" routerLinkActive="blue"><i class="fa fa-plus-square-o" style="padding-right: 22px;"></i>Add Student   </a> -->
  <!-- <a class="list-group-item list-group-item-info font-weight-bold" routerLink="./addStaff" routerLinkActive="blue"><i class="fa fa-plus-circle " style="padding-right: 22px;"></i>Add Staff</a> -->
  <a class="list-group-item list-group-item-info font-weight-bold" routerLink="./addStaff" routerLinkActive="blue"><i class="fa fa-university" style="padding-right: 22px;"></i>Courses</a>
  <!-- <a class="list-group-item list-group-item-info font-weight-bold" routerLink="./addStaff" routerLinkActive="blue">View Course</a> -->

</div>

